body {
    min-height: 100%;
    font-family: Verdana, serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.not-found-image-container {
    display: flex;
    justify-content: center;
}

.not-found-image {
    width: 150px;
    height: 150px;
}